<launch>
	<node name="tf_FRAMEID_LASER" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0 /world /velodyne 500" respawn="false">
	</node>
	
	<node name="velodyne_assembler" type="point_cloud_assembler" pkg="laser_assembler">
		<remap from="cloud" to="/velodyne/cloud"/>
		<param name="max_clouds" type="int" value="10000" />
		<param name="fixed_frame" type="string" value="/world" />
	</node>
	
	<node name="snapshotter" type="periodic_window_snapshotter" pkg="periodic_window_snapshotter">
		<param name="publish_rate" type="double" value="5" />
		<param name="window_size" type="double" value="0.3" />
	</node>
	
	<node name="velodyne" pkg="velodyne_ros" type="velodyne_ros" output="screen">
          <param name="calibrationFileName" value="$(find velodyne_ros)/calib.dat"/>
        </node>
</launch>
